body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-image: url('background_image1.jpeg') ;
    font-size: 16px;
    line-height: 1.5;
    
}
h1 {
    color: #093cab;
    margin-bottom: 20px;
}
.container {
    /* background-image: url('biblioteca.png') ; */
    /* text-align: center; */
    max-width: 600px;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    transition: box-shadow 0.3s;
}
.container:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
label, input, select {
    color: rgb(5, 8, 57);
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #093cab;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
button:hover {
    background-color: #0a5f8b;
    cursor: pointer;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;

}

img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin: 20px 0;
}
    

}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #093cab;
    color: white;
    padding: 15px 10px;
    text-align: center;
}
