{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Dashboard de Relatórios</title>
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>
    <h1>Dashboard de Relatórios</h1>

    <form method="get">
        <label for="ano">Escolha o Ano:</label>
        <select name="ano" id="ano">
            <option value="todos">Todos</option>
            {% for ano in anos_disponiveis %}
                <option value="{{ ano }}" {% if ano_selecionado and ano|stringformat:"s" == ano_selecionado|stringformat:"s" %}selected{% endif %}>
                    {{ ano }}
                </option>
            {% endfor %}
        </select>

        <label for="mes">Escolha o Mês:</label>
        <select name="mes" id="mes">
            <option value="todos">Todos</option>
            {% for numero, nome in meses_disponiveis %}
                <option value="{{ numero }}" {% if numero == mes_selecionado %}selected{% endif %}>
                    {{ nome }}
                </option>
            {% endfor %}
        </select>

        <button type="submit">Filtrar</button>
    </form>

    {% load extras %}
    {% if registros %}
        <section>
            <h2>Registros:</h2>
            <ul>
                {% for registro in registros %}
                    <li>{{ registro.nome_completo }} – {{ registro.curso }} - {{ registro.data_acesso|date:"d \\d\\e F \\d\\e Y" }} </li>
                {% empty %}
                    <li>Nenhum registro encontrado.</li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Resumo de Dados</h2>

            <h3>📊 Dados Gerais</h3>
            <ul>
                <li>Total de acessos: {{ dados_gerais.total_acessos }}</li>
                <li>Total de visitantes: {{ dados_gerais.total_visitantes }}</li>
                <li>Total de usuários UFBA: {{ dados_gerais.total_usuario_ufba }}</li>
            </ul>
        </section>

        <section>
            <h3>👥 Usuário(s) mais assíduo(s)</h3>
            <ul>
                {% for usuario in usuario_assiduo %}
                    <li>{{ usuario.nome_completo }} — {{ usuario.curso }} - {{ usuario.matricula }} {{ usuario.total }} acesso(s)</li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h3>🎓 Curso mais frequente</h3>
            <p>
                {% if curso_frequente.curso %}
                    {{ curso_frequente.curso }} – {{ curso_frequente.total }} acesso(s)
                {% else %}
                    Nenhum curso encontrado.
                {% endif %}
            </p>
        </section>
        
        <section>
            <h3>🛠️ Serviço mais utilizado</h3>
            <p>
                {% if servico_frequente.servico %}
                    {{ servico_frequente.servico }} – {{ servico_frequente.total }} uso(s)
                {% else %}
                    Nenhum serviço encontrado.
                {% endif %}
            </p>
        </section>

        <section>
            <h3>📅 Dia da semana com maior fluxo</h3>
            <p>
                {% if max_dia_semana.dia_da_semana %}
                    {{ max_dia_semana.dia_da_semana }} – {{ max_dia_semana.total }} acesso(s)
                {% else %}
                    Nenhum dia encontrado.
                {% endif %}
            </p>
        </section>

        <section>
            <h3>📈 Total de acessos por dia da semana</h3>
            <ul>
                 {% for dia, valor in total_dia_semana_ordenado %}
                    <li>{{ dia }}: {{ valor }}</li>
                {% endfor %}
            </ul>
            {% if grafico_semana %}
                <img src="{{ grafico_semana_url }}" alt="Gráfico por semana">
            {% endif %}
        </section>

        <section>
            <h3>🕗 Média de acessos por hora</h3>
            <ul>
                {% for hora, media in media_horas.items %}
                    <li>{{ hora }}h: {{ media }}</li>
                {% endfor %}
            </ul>
            {% if grafico_hora %}
                <img src="{{ grafico_hora_url }}" alt="Gráfico por hora">
            {% endif %}
        </section>
            <a href="{% url 'pdf_view' %}?ano={{ ano_selecionado }}&mes={{ mes_selecionado }}" target="_blank">
                📄 Visualizar Relatório em PDF
        </form>
    {% endif %}
    
</body>
</html>
